body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #a8f5fc;
}

header {
    margin: 5px;
    background-color: #fafafa;
    border: #000102 3px solid;
    border-bottom: #00080e 9px solid;
    border-right: #00060a 9px solid ;
    border-radius: 30px;
    padding: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu-button, #chat-button {
    background: none;
    border: none;
    cursor: pointer;
}
#menu-button:hover, #chat-button:hover {
    color: #fafafa;
}

#chat-img {
    width: 40px;
    height: 40px;
}

#menu-img {
    width: 40px;
    height: 40px;
}

#logo {
    background-color: rgb(255, 184, 211);
    padding: 11px;
    border-radius: 20px;
    border: 2px solid black;
    border-bottom: 6px solid black;
    border-right: 6px solid black;
    height: 20px;
    width: auto;
    object-fit: contain;
}