header {
    background-color: rgb(72, 72, 72);
    border-radius: 20px;
    padding: 20px;
    gap: 10px;
    
}
#menu {
    display: flex;
    gap: 10px;
    justify-content: right;
}

#menu a {
    background-color: rgb(159, 160, 160);
    border-radius: 30px;
    padding: 8px ;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    
}