body {
    margin: 0;
    font-family: "DomainFont", sans-serif;
    background-color: #a8f5fc;
}

@font-face {
    font-family: "DomainFont";
    src: url("../static/fonts/editundo.ttf");
}

header {
    margin: 5px;
    background-color: #fafafa;
    border: #000102 3px solid;
    border-bottom: #00080e 9px solid;
    border-right: #00060a 9px solid ;
    border-radius: 30px;
    padding: 10px;
    gap: 10px;
    display: flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
}

#menu-button, #chat-button {
    background: none;
    border: none;
    cursor: pointer;
}
#menu-button:hover, #chat-button:hover {
    color: #fafafa;
}

#chat-img {
    width: 40px;
    height: 40px;
}

#menu-img {
    width: 40px;
    height: 40px;
}

#logo {
    background-color: rgb(255, 184, 211);
    padding: 11px;
    border-radius: 20px;
    border: 2px solid black;
    border-bottom: 6px solid black;
    border-right: 6px solid black;
    height: 20px;
    width: auto;
    object-fit: contain;
}

#side-menu {
    margin: 5px;
    display: flex;
    flex-direction: column;
    height: 105%;
    width: 10%;
    min-width: 120px;
    background-color: #d5fcd6;
    border: #000102 3px solid;
    border-bottom: #00080e 6px solid;
    border-right: #00060a 6px solid ;
    border-radius: 25px ;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 1%;
}

#side-menu button {
    background-color: #fd7676;
    border: 2px solid black;
    border-bottom: #000102 4px solid;
    border-right: #000102 4px solid;
    border-radius: 15px;
    cursor: pointer;
    height: 100%;
    width : 100%;
    min-height: 40px;
    min-width: 120px;
    font-weight: 400;
    font-size: 22px;
    font-family: "DomainFont";
    margin: 5px 0;
}

main {
    display: flex;
    justify-content: space-between;
}

#main-panel {
    background-color: rgb(245, 255, 202);
    margin: 5px;
    height: 200%;
    min-height: none;
    min-width: none;
    width: 50%;
    border: #000102 3px solid;
    border-bottom: #00080e 6px solid;
    border-right: #00060a 6px solid ;
    border-radius: 25px ;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    font-family: "DomainFont";
}

#chat-panel {
    background-color: rgb(252, 210, 255);
    display: flex;
    flex-direction: row;
    margin: 5px;
    height: 110%;
    min-height: none;
    min-width: none;
    width: 30%;
    border: #000102 3px solid;
    border-bottom: #00080e 6px solid;
    border-right: #00060a 6px solid ;
    border-radius: 25px ;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chat-input-area {
    justify-content: space-around;
    align-items: right;
    display: flex;
    width: 100%;
}

#chat-input {
    width: 70%;
    padding: 10px;
    border: #000102 1px solid;
    border-bottom: #000102 3px solid;
    border-right: #000102 3px solid;
    border-radius: 15px;
    font-size: 16px;
    font-family: "DomainFont";
}

#send-chat-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 15px;
    border-bottom: #000102 3px solid;
    border-right: #000102 3px solid;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: "DomainFont";
}

#chat-header {
    font-family: "DomainFont";
    margin-bottom: 10px;
}

#chat-messages {
    background-color: #fff;
    width: 93%;
    border: #000102 1px solid;
    border-bottom: #000102 3px solid;
    border-right: #000102 3px solid;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
    font-family: "DomainFont";
}