<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProjecT DOMAIN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <button id="menu-button"><img src="https://files.catbox.moe/afgnd6.png" alt="Menu" id="menu-img"></button>
        <img src="https://files.catbox.moe/1o4pso.png" alt="ProjecT DOMAIN Logo" id="logo">
        <button id="chat-button"><img src="https://files.catbox.moe/jmw26w.png" alt="Chat" id="chat-img"></button>
    </header>
</body>
</html>